/*





 Jewelry .input {
    display: none;
}

.Jewelry .container {
    width: 100%;
    text-align: center;
}

.Jewelry .contact-header {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    text-align: center;
    background-color: lightgreen;
    opacity: .9;
}

.Jewelry .about-background-main {
    background-color: url(img/jewelryBackground2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    position: fixed;
    top: 100px;
    left: 0;
    overflow: auto;
    background-color: white;
    background-size: cover;
}

.Jewelry #blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    .Jewelry #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.Jewelry .top-content {
    background-color: lightgrey;
    width: 60%;
    height: 20%;
    margin left:10px;
    margin-right: 10px;
    height: 60%;
    align-items: center;
    justify-content: space-between;
    display: inline-flex;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Jewelry .button {
    font-size: 24px;
    color: black;
    font-family: Serif, Garamond;
    margin-left: 15px;
    margin-right: 15px;
}

    .Jewelry .button:hover {
        color: grey;
    }

.Jewelry h3 {
    height: 100%;
    background-color: lightgray;
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

.Jewelry label {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}

    .Jewelry label:hover {
        color: black;
    }

.Jewelry .photo-gallery {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.Jewelry .pic {
    position: relative;
    height: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
}

    .Jewelry .pic img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: .5s;
    }

    .Jewelry .pic::before {
        content: "Made with ";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        margin-top: -120px;
        opacity: 0;
        transition: .3s;
        transition-delay: .4s;
        color: black;
    }

    .Jewelry .pic:after {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        height: 0;
        background-color: rgba(0,0,0,.2);
        transition: .3s;
    }

    .Jewelry .pic:hover::after {
        height: 100%;
    }

    .Jewelry .pic:hover::before {
        margin-top: 0;
        opacity: 1;
    }

.Jewelry #check1:checked ~ .container .photo-gallery .pic {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .0s;
}

.Jewelry #check3:checked ~ .container .photo-gallery .earrings {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

.Jewelry #check3:checked ~ .container .photo-gallery .rings
.Jewelry #check3:checked ~ .container .photo-gallery .bracelets {
    opacity: 0;
    transform: scale(1);
    position: absolute;
    transition: .5s;
}

.Jewelry #check4:checked ~ .container .photo-gallery .bracelets {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

.Jewelry #check4:checked ~ .container .photo-gallery .rings
.   `Jewelry #check4:checked ~ .container .photo-gallery .bracelets {
    opacity: 0;
    transform: scale(1);
    position: absolute;
    transition: .5s;
}


*/